div{
    width: 800px;
    height: 500px;
    background-color: skyblue;
}

div:nth-child(1){
    background-image: url(./img/americano.jpg);
    background-repeat: repeat-x;
}

div:nth-child(2){
    background-image: url(./img/caramel.jpg);
    background-size: contain;
    left: 100px;
    top: 30px;
    background-repeat: no-repeat;
}

div:nth-child(3){

}