<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>POST 연습</title>
  </head>
  <body>
    <h1>POST 연습</h1>
    <form action="/postForm" method="get" target="_blank">
      이름 <input type="text" name="name" />
      <br />
      <fieldset>
        <legend>나이</legend>
        <label for="one">
          10대 <input type="radio" id="one" name="age" value="10대" />
        </label>
        <label for="two">
          20대 <input type="radio" id="two" name="age" value="20대" />
        </label>
        <label for="three">
          30대 <input type="radio" id="three" name="age" value="30대" />
        </label>
      </fieldset>
    </form>
  </body>
</html>
