<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>POST로 정보 입력</title>
  </head>
  <body>
    <h1>설문조사</h1>
    <form name="register">
      <p>설문조사</p>
      <fieldset>
        <legend>유입경로</legend>
        <label for="recommend"
          >지인추천<input
            type="radio"
            name="way"
            id="recommend"
            value="지인추천"
            required
        /></label>
        <label for="internet"
          >인터넷검색<input
            type="radio"
            name="way"
            id="internet"
            value="인터넷검색"
            required
        /></label>
        <label for="etc"
          >기타<input type="radio" name="way" id="etc" value="기타" required
        /></label>
      </fieldset>
      <br />
      <textarea
        id="wantToSay"
        name="wantToSay"
        cols="30"
        rows="10"
        required
        placeholder="건의사항"
      ></textarea>
      <br />
      <button type="button" onclick="postAxios()">등록</button>
      <br />
      <div class="result"></div>
    </form>
    <script>
      const resultBox = document.querySelector(".result");
      async function postAxios() {
        const form = document.forms["register"];
        const data = {
          way: form.way.value,
          wantToSay: form.wantToSay.value,
        };

        console.log(form.way[0].checkValidity());
        console.log(form.way[1].checkValidity());
        console.log(form.wantToSay.checkValidity());
        try {
          if (!form.wantToSay.checkValidity() || !form.way[0].checkValidity()) {
            alert("빈 칸을 입력해주세요.");
          } else {
            response = await axios({
              method: "POST",
              url: "/axios",
              data: data,
            });
            console.log(response.data);
            const { way, wantToSay } = response.data;
            resultBox.innerHTML = "<p style=color:blue> 등록 되었습니다.</p>";
          }
        } catch (err) {
          console.log("err!!!:", err);
        }
      }
    </script>
  </body>
</html>
